doctype html
html
    head
        title Page After Login
        meta(charset='utf-8')
    body
        h1 This is you.
        div Username : #{username}
        div password : #{password}
        div introduction : #{introduction}
